<html>

  <body>

    [ <a href="/">home</a> ]

    <h3>AskMe Document</h3>

    <table cellpadding="10" cellspacing="0" border="1">
    <tr valign="top">
      <td>document</td>
      <td>{{index}}:{{doc.identifier}}</td>
    </tr>
    <tr valign="top">
      <td>title</td>
      <td>{{doc.title}}</td>
    </tr>
    <tr valign="top">
      <td>year</td>
      <td>{{doc.year}}</td>
    </tr>
    <tr valign="top">
      <td>url</td>
      <td><a href="{{doc.url}}">{{doc.url}}</a></td>
    </tr>
    <tr valign="top">
      <td>authors</td>
      <td>{{doc.authors}}</td>
    </tr>
    <tr valign="top">
      <td>topic</td>
      <td>{{doc.topic}}</td>
    </tr>
    <tr valign="top">
      <!-- only printing the first 1000 characters for now -->
      <td>summary</td>
      <td>{{doc.summary[:1000]}}</td>
    </tr>
    <tr valign="top">
      <td>terms</td>
      <td>
        <table cellspacing="4">
          {% for term in doc.sorted_terms()[:20] %}
          <tr>
            <td>{{ term[0] }}</td>
            <td>&nbsp;</td>
            <td align="right">{{ term[1] }}</td>
            <td>&nbsp;</td>
            <td>{{ "%.4f" % term[2] }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% for entity_type in doc.entities %}
    <tr>
      <td valign="top">entities&#8209;{{entity_type}}</td>
      <td>
        {% for entity, count in doc['entities'][entity_type] %}
        [{{entity}}] &nbsp;
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
    </table>

  <p/>

  <form action="/related" method="post">
    <input id="index" name="index" style="display:none;" value={{index}}>
    <textarea id="title" name="title" style="display:none;">{{doc['title']}}</textarea>
    <textarea id="abstract" name="abstract" style="display:none;">{{doc['abstract']}}</textarea>
    <textarea id="text" name="text" style="display:none;">{{doc['text']}}</textarea>
    <input type="submit" value="Get related documents"></p>
  </form>

  </body>

</html>