<html>

  <body>

    [ <a href="/">home</a> ]

    <h3>AskMe Document</h3>

    <table cellpadding="10" cellspacing="0" border="1">

    <!-- printing the atomic document fields -->
    {% for field_name, field_value in doc.display_fields() %}
    <tr valign="top">
      <td>{{field_name}}</td>
      <td>{{field_value | safe}}</td>
    </tr>
    {% endfor %}

    <!-- printing the terms -->
    <tr valign="top">
      <td>terms</td>
      <td>
        <table cellspacing="4">
          {% for term in doc.sorted_terms()[:20] %}
          <tr>
            <td>{{ term[0] }}</td>
            <td>&nbsp;</td>
            <td align="right">{{ term[1] }}</td>
            <td>&nbsp;</td>
            <td>{{ "%.4f" % term[2] }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>


    <tr>
      <td valign="top">entities</td>
      <td>
        <table>
        {% for entity_type in doc.entities %}
        <tr>
          <td valign="top">{{entity_type}}</td>
          <td valign="top">&nbsp;</td>
          <td>
            {% for entity, count in doc['entities'][entity_type] %}
            [{{entity}}]&nbsp;
            {% endfor %}
        {% endfor %}
        </table>
      </td>
    </tr>

    </table>

  <p/>

  <form action="/related" method="post">
    <input id="index" name="index" style="display:none;" value={{index}}>
    <textarea id="title" name="title" style="display:none;">{{doc['title']}}</textarea>
    <textarea id="abstract" name="abstract" style="display:none;">{{doc['abstract']}}</textarea>
    <textarea id="text" name="text" style="display:none;">{{doc['text']}}</textarea>
    <input type="submit" value="Related documents"></p>
  </form>

  </body>

</html>