<html>

  <body>

    <h3>AskMe</h3>

    <form action="/" method="get">

      <input type="text" name="index" value="{{index}}" hidden>

      {% if debug and request.args: %}
      <table cellpadding="5" cellspacing="0" border="1">
        {% for key, val in request.args.items() %}
        <tr>
          <td>get:{{key}}</td>
          <td>{{val}}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}

      <p>
      {% for dom in domains %}
      {% set checked = ' checked' if dom == domain else '' %}
      <input type="radio" name="domain" value={{dom}} {{checked}}>
      <label for={{dom}}>{{dom}}</label>&nbsp;&nbsp;
      {% endfor %}
      </p>

      <p>Search term: <input type="text" name="term" value={{term}}></p>

      <p><input type="submit" style="display:none;"></p>

    </form>
	
    {% if result %}

    <hr/>

    <p>Printing {{result.hits_returned}} of {{result.total_hits}} hits </p>
    
    <form action="set" method="get">
      <input type="hidden" name="index" value={{index}}>
      <table cellpadding="10" cellspacing="0" border="1">
      {% for doc in docs %}
      {% set id = doc.identifier %}
        <tr valign="top">
          <td><input type="checkbox" name="{{id}}"/></td>
    	    <td><a href="/document?index={{index}}&doc_id={{id}}">{{id}}</a></td>
          <td align="right">{{ "%.4f" % doc.score }}</td>
          <td>{{ doc.year }}</td>
          <td>{{ doc.title }}</td>
        </tr>
      {% endfor %}
      </table>
      <p><input type="submit"/></p> 
    </form>

    {% else %}
    
    <p>No results found</p>

    {% endif %}

  </body>

</html>