<html>

  <body>

    <h3>AskMe</h3>

    {% if debug and request.args: %}
    <table cellpadding="5" cellspacing="0" border="1">
      {% for var in request.args %}
      <tr>
        <td>get:{{var}}</td>
        <td>{{request.args.getlist(var)}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <!-- domain selection and search term box -->
    <form action="/" method="get">
      <p>
      <input type="radio" name="domain" id="None" value="" checked>
      <label for="None">No selection</label>&nbsp;&nbsp;
      {% for dom in domains %}
      {% set checked = ' checked' if dom == domain else '' %}
      <input type="radio" name="domain" id="{{dom}}" value="{{dom}}" {{checked}}>
      <label for={{dom}}>{{dom}}</label>&nbsp;&nbsp;
      {% endfor %}
      </p>
      <p>Search term: <input type="text" name="term" value="{{term}}"></p>
      <p><input type="submit" style="display:none;"></p>
    </form>

    <!-- same as above but with multiple select, not yet used because -->
    <!-- the API does not have the right functionality for that yet   -->
    <!--
    <form action="/" method="get">
      <fieldset id="group1" multiple>
        {% for dom in domains %}
        <input type="checkbox" name="domain" id="x{{dom}}" value="{{dom}}" checked>
        <label for="x{{dom}}">{{dom}}</label>
        {% endfor %}
      </fieldset>
      <p>Search term: <input type="text" name="term" value="{{term}}"></p>
      <p><input type="submit" style="display:none;"></p>
    </form>
    -->
	
    {% if result %}

    <hr/>

    <p>Printing {{result.hits_returned}} of {{result.total_hits}} hits </p>
    
    <form action="set" method="get">
      <input type="hidden" name="index" value={{index}}>
      <table cellpadding="10" cellspacing="0" border="1">
      {% for doc in docs %}
      {% set id = doc.identifier %}
        <tr valign="top">
          <td><input type="checkbox" name="{{id}}"/></td>
    	    <td><a href="/document?index={{index}}&doc_id={{id}}">{{id}}</a></td>
          <td align="right">{{ "%.4f" % doc.score }}</td>
          <td>{{ doc.year }}</td>
          <td>{{ doc.title }}</td>
        </tr>
      {% endfor %}
      </table>
      <p><input type="submit"/></p> 
    </form>

    {% else %}
    
    <p>No results found</p>

    {% endif %}

  </body>

</html>