<html>

  <body>

    [ <a href="/">home</a> ]

    <h3>AskMe Related Documents</h3>

    <p>Finding related documents, using:</p>

    <table cellpadding="10" cellspacing="0" border="1">
      <tr valign="top"><td>title</td><td>{{title}}</td></tr>
      <tr valign="top"><td>terms</td><td>{{terms}}</td></tr>
    </table>

    <p/>

    <table cellpadding="10" cellspacing="0" border="1">
    {% for doc in result.hits[:20] %}
    {% set id = doc.identifier %}
      <tr>
        <td align="right">{{"%.4f" % doc.score}}</td>
        <td><a href="/document?index={{index}}&doc_id={{id}}">{{id}}</a></td>
        <td>{{doc.title}}</td>
      </tr>
    {% endfor %}
    </table>

  </body>

</html>